{% extends "base.html" %}
{% load static %}
{% block body %}
            <div class="option-list">
                <div class="options">
                    <a class="btn bt-color btn-position btn-size" href="{% url 'core:pesquisa' %}">
                        <span class="glyphicon glyphicon-search icon-size"></span>
                    </a>
                    <div class="options-description">
                        <h4>PESQUISAR CONTATO</h4>
                        <p>Você pode pesquisar seus contatos por nome, número do telefone ou e-mail!</p>
                    </div>
                </div>
                <div class="options">
                    <a class="btn bt-color btn-position btn-size" href="{% url 'core:adicionar' %}">
                        <span class="glyphicon glyphicon-plus icon-size"></span>
                    </a>
                    <div class="options-description">
                        <h4>ADICIONAR CONTATO</h4>
                        <p>Você pode pesquisar seus contatos por nome, número do telefone ou e-mail!</p>
                    </div>
                </div>
                <div class="options">
                    <div class="btn bt-color btn-position btn-size">
                        <span class="glyphicon glyphicon-align-justify icon-size"></span>
                    </div>
                    <div class="options-description">
                        <h4>LISTA DE CONTATOS</h4>
                        <p>Você pode pesquisar seus contatos por nome, número do telefone ou e-mail!</p>
                    </div>
                </div>
            </div>
{% endblock %}